/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/ChangeLog
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/aclocal.m4
/autom4te.cache
/autoscan.log
/compile
/conf.d/Makefile.in
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.status.lineno
/config.sub
/configure
/configure.lineno
/configure.scan
/depcomp
/doc/Makefile.in
/doltcompile
/fc-blanks/Makefile.in
/fc-cache/Makefile.in
/fc-case/Makefile.in
/fc-cat/Makefile.in
/fc-glyphname/Makefile.in
/fc-lang/Makefile.in
/fc-list/Makefile.in
/fc-match/Makefile.in
/fc-pattern/Makefile.in
/fc-query/Makefile.in
/fc-scan/Makefile.in
/fc-validate/Makefile.in
/fontconfig-zip
/fontconfig.pc
/fontconfig.spec
/fontconfig/Makefile.in
/fonts.conf
/install-sh
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/so_locations
/src/Makefile.in
/stamp-h1
/tags
/test-driver
/test/Makefile.in

libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
WINDOWSTEMPDIR*

!.gitignore
